<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>KorisniÄki profil</h1>
    <br>
    <h2>Name: <%= name %>!</h2>
    <h2>Subject: <%= sub %>!</h2>
    <h2>Email: <%= email %>!</h2>
    <h2>Email verified: <%= email_verified %>!</h2>
    
</body>
</html>